<div>
  <h2>Company Org#: {{company.orgNr}}</h2><br />
  Company name: <input type="text" ng-model="company.name" /><br />
  Phone number: <input type="text" ng-model="company.phone" /><br />
  Address: <input type="text" ng-model="company.address" /><br />
  Zip code: <input type="text" ng-model="company.zip" /><br />
  City: <input type="text" ng-model="company.city" /><br />
  Invoice address: <input type="text" ng-model="company.invoiceAddress" /><br />
  Invoice zip code: <input type="text" ng-model="company.invoiceZip" /><br />
  Invoice city: <input type="text" ng-model="company.invoiceCity" /><br />
  <input type="submit" value="Continue" ng-click="createAdvts()" />
</div>
<a href="#!">Go back</a>
